<!-- Fixed navbar -->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><i
          class="glyphicon glyphicon-phone"></i>Aurora Learning Platform</a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
          class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
          class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="mainCtrl.loginStatus" href"#"> Hello {{ mainCtrl.username }} </a></li>
        <li><a ng-show="mainCtrl.loginStatus" href="/dashboard">Dashboard</a></li>
        <li><a ng-show="!mainCtrl.loginStatus" href="/login">Login</a></li>
        <li><a ng-show="!mainCtrl.loginStatus" href="/register">Register</a></li>
        <li><a ng-show="mainCtrl.loginStatus" ng-click="mainCtrl.doLogout();" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron hero" style="padding: 7.5em; min-height: 500px">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-pull-1 get-it pull-left">
        <h1 class="bg-primary">Aurora Learning Platform</h1>
        <p class="text-center lead">
          Welcome to the Aurora Learning Platform Students-Staff Hub. Every tool you need, when you need it</p>
        <p>
          <a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-google"></i> Available on the GOOGLE
            PLAY</a>
          <a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-apple"></i> Available on APPLE
            STORE</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials -->
<section class="testimonials" style="margin: 40px 100px 50px">
  <h3 class="text-center">The Aurora platform is a revolutionary learning management system built with the modern times student in mind. 
    Whereas the industry is fragmented, we offer a unified and coherent suite. We also offer a wide array of additional tools aimed making students better. Tools like built-in state-of-the-art 
    performance measurement tools, computer-driven marking of assignments, and crypto wallets with smart. Plus a lot more coming soon!
    <br> 
    We geared towards . It's more than a tool, it's a community.
  </h3>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row icon-features">
          <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
            <p>Real-time </p>
          </div>
          <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
            <p>Easy to run</p>
          </div>
          <div class="col-lg-offset-0 col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
            <p>Instant </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- SITE FOOTER -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>Aurora Learning Platform</h5>
      </div>
      <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
    </div>
  </div>
</footer>