<!-- Fixed navbar -->

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><i class="glyphicon glyphicon-phone"></i>RHS Portal</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="mainCtrl.loginStatus" href"#"> Hello {{ mainCtrl.username }} </a></li>
                <li><a ng-show="mainCtrl.loginStatus" href="/dashboard">Dashboard</a></li>
                <li><a ng-show="!mainCtrl.loginStatus" href="/login">Login</a></li>
                <li><a ng-show="!mainCtrl.loginStatus" href="/register">Register</a></li>
                <li><a ng-show="mainCtrl.loginStatus" ng-click="mainCtrl.doLogout();" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup">
                    <div class="screen"></div><img src="assets/img/iphone.svg" class="device"></div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1 class="bg-primary">RHS Portal App</h1>
                <p class="text-center lead text-danger bg-primary">
                  Welcome to the RHS Students-Staff Hub. You can communicate inform yourself or inform others privately or publicly
                </p>
                <p>
                  <a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-google"></i> Available on the GOOGLE PLAY</a>
                  <a class="btn btn-success btn-lg" role="button" href="#"><i class="fa fa-apple"></i> Available on APPLE STORE</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<section class="testimonials">
    <h2 class="text-center">Riviera High School. It's more than a school, it's a community.</h2></section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
                        <p>Real-time </p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                        <p>Easy to run</p>
                    </div>
                    <div class="col-lg-offset-0 col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
                        <p>Instant </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- SITE FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>RHS Portal</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
</footer>
