main{
    padding-top: 30px;
}

/* HEADER AREA */

header .navbar {
    border-radius: 0;
}

/* NG-ANIMATE */
/* Show & hide with style */
.show-hide-message.ng-hide-remove {
    -webkit-animation:zoomIn 0.3s both ease;
    -moz-animation:zoomIn 0.3s both ease;
    animation:zoomIn 0.3s both ease;
}

/*Spinner animations*/
.spinner{
    -webkit-animation:spin 1s infinite;
    -moz-animation:spin 1s infinite;
    animation:spin 1s infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
    from { transform:rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@media (min-width: 768px) {
    .bs-docs-masthead {
        padding: 80px 0;
    }
}

.bs-docs-masthead, .bs-docs-header {
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}
