<link rel="stylesheet" href="assets/css/user-login.css">
<link rel="stylesheet" href="assets/css/Google-Style-Login.css">

<div class="page-header">
    <h1> User Login</h1>
</div>

<!-- The following basically means
    that when this form is submitted activate this function
-->

<form ng-submit="mainCtrl.doLogin(loginData)">
    <!-- Username -->
    <label> Username:</label>
    <input class="form-control" type="text" name="username"
            placeholder="please enter your username"
            ng-model="$parent.mainCtrl.loginData.username"/>
    <br />
    <!-- Password -->
    <label> Password: </label>
    <input class="form-control" type="password" name="password"
            placeholder="please enter your password"
            ng-model="$parent.mainCtrl.loginData.password"/>
    <br />
    <button class="btn btn-success" type="submit">LOGIN</button>&nbsp

    <button type="button" class="btn btn-primary" style="background-color: #3B5998"  ng-click="mainCtrl.facebookFix()">Facebook</button>&nbsp

    <button type="button" class="btn btn-primary" style="background-color: #1DA1F2"  ng-click="mainCtrl.twitterFix()">Twitter</button>

    <button type="button" class="btn btn-primary" style="background-color: #DB4437"  ng-click="mainCtrl.googleFix()">Google</button>

</form>

<br />

<!-- This is the loading stuff that comes when we're waiting
     that the server answers -->
<div class="jumbotron text-center" ng-show="mainCtrl.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>
        Loading ...
    </p>
</div>

<br />

<!-- We need to  -->

<div class="row row-show-hide-message" ng-show="mainCtrl.successMessage">
    <div class="alert alert-success">
        <!-- Success Message -->
        {{ mainCtrl.successMessage }}
    </div>
</div>

<div class="row row-show-hide-message" ng-show="mainCtrl.errorMessage">
    <div class="alert alert-danger">
        <!-- Error message -->
        {{ mainCtrl.errorMessage }}
    </div>
</div>



<div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <div class="login-card">
                        <h5 class="text-center text-muted">Login with your academic bridge credentials</h5><img src="assets/img/avatar_2x.png" class="profile-img-card">
                        <p class="profile-name-card"> </p>
                        <form class="form-horizontal form-signin">
                            <input class="form-control" type="tel" placeholder="Registration Number">
                            <input class="form-control" type="password" required="" placeholder="Password" id="inputPassword">
                            <div class="checkbox">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Remember me</label>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="row row-show-hide-message" ng-show="facebook.errorMessage">
  <div class="alert alert-danger">
    <!-- Error message for facebook login -->
    {{ facebook.errorMessage }}
  </div>
</div>
<div class="row row-show-hide-message" ng-show="twitter.errorMessage">
  <div class="alert alert-danger">
    <!-- Error message for facebook login -->
    {{ twitter.errorMessage }}
  </div>
</div>
<div class="row row-show-hide-message" ng-show="google.errorMessage">
  <div class="alert alert-danger">
    <!-- Error message for facebook login -->
    {{ google.errorMessage }}
  </div>
</div>


<section class="testimonials">
<h2 class="text-center">Riviera High School. More than a community.</h2></section>


<!-- SITE FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>RHS Portal</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
</footer>
