<div class="page-header">
    <h1> {{ mainCtrl.username }}'s profile page</h1>
</div>

<div class="panel panel-info">
    <!-- These are efault panel contents -->
    <div class="panel-heading" style="text-align: center;">
        <strong>User Profile</strong>
    </div>
</div>
<!-- The table in question -->
<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    <tr>
        <td>{{ mainCtrl.username }}</td>
        <td>{{ mainCtrl.usermail }}</td>
        <td>************</td>
    </tr>
</table>
