<div class="page-header">
  <h1> User Registration</h1>
</div>

<!-- The following basically means
    that when this form is submitted activate this function
-->

<form name="regForm" ng-submit="register.registerUser(registrationData, regForm.$valid)" novalidate>
  <!-- Put it in a div so that it shows a red/green box by checking if:
        - it is valid has been touched (ie isn't pristine)
      and it won't be submitted if:
      - it's not valid and has been touched
      - it's not valid and has been submitted -->

  <!-- Full   Name -->
  <div ng-class="{'has-success':(regForm.name.$valid && !regForm.name.$pristine),
                    'has-error':(!regForm.name.$pristine || regForm.$submitted) && !regForm.name.$valid}">
    <label> Full Name:</label>
    <input class="form-control" type="text" name="name" placeholder="please enter your name"
          ng-model="register.registrationData.name"
          ng-pattern="/^[a-z\u00C0-\u02AB'´`]+\.?\s([a-z\u00C0-\u02AB'´`]+\.?\s?)+$/i"
          ng-minLength="3" ng-maxLength="30" required/>
    <p ng-show="(!regForm.name.$pristine || regForm.$submitted) && regForm.name.$error.required" class="help-block">
      This field is required
    </p>
    <ul ng-show="(regForm.name.$error.minLength || regForm.name.$error.maxLength || regForm.name.$error.pattern) && !regForm.name.$pristine" class="help-block">
      <li>Must have space between first and last name</li>
      <li>Must not contain any numbers</li>
      <li>Must be at least 3 letters and no more than 30</li>
    </ul>
  </div>
  <br />

  <!-- Username -->
  <div div ng-class="{'has-success':((regForm.username.$valid && !regForm.username.$pristine) && !regForm.usernameInvalid),
                  'has-error':((!regForm.username.$pristine || regForm.$submitted) && !regForm.username.$valid) || regForm.usernameInvalid}">
    <label> Username:</label>
    <input class="form-control" type="text" name="username"
            placeholder="please enter your username" ng-model="register.registrationData.username"
            ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-X]|=.*?[A-Z]).{3,16}$/"
            ng-minLength="3" ng-maxLength="30" ng-blur="register.checkUsername(registrationData)" required/>
    <p ng-show="(!regForm.username.$pristine || regForm.$submitted) && regForm.username.$error.required" class="help-block">
      This field is required
    </p>
    <p class="help-block">
      {{ register.usernameMessage }}
    </p>
    <ul ng-show="(regForm.username.$error.minLength || regForm.username.$error.maxLength || regForm.username.$error.pattern) && !regForm.username.$pristine" class="help-block">
      <li>Must not contain any special character or spaces</li>
      <li>Must be at least 3 letters and no more than 30</li>
    </ul>
  </div>
  <br />

  <!-- Password -->
  <div div ng-class="{'has-success':(regForm.password.$valid && !regForm.password.$pristine),
                  'has-error':(!regForm.password.$pristine || regForm.$submitted) && !regForm.password.$valid}">
    <label> Password:</label>
    <input class="form-control" type="text" name="password" placeholder="please enter your password" ng-model="register.registrationData.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" ng-minLength="8" ng-maxLength="35" required/>
    <p ng-show="(!regForm.password.$pristine || regForm.$submitted) && regForm.password.$error.required" class="help-block">
      This field is required
    </p>
    <ul ng-show="(regForm.password.$error.minLength || regForm.password.$error.maxLength || regForm.password.$error.pattern) && !regForm.password.$pristine" class="help-block">
      <li>Must contain at least one lower case letter</li>
      <li>Must contain at least one upper case letter</li>
      <li>Must contain at least one number</li>
      <li>Must contain at least one specia character</li>
      <li>Must be at least 8 characters and no more than 35</li>
    </ul>
  </div>
  <br />

  <!-- Email -->
  <div div ng-class="{'has-success':(regForm.email.$valid && !regForm.email.$pristine),
                  'has-error':(!regForm.email.$pristine || regForm.$submitted) && !regForm.email.$valid}">
    <label> Email:</label>
    <input class="form-control" type="text" name="email" placeholder="please enter your email" ng-model="register.registrationData.email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-minLength="3" ng-maxLength="30" required/>
    <p ng-show="(!regForm.email.$pristine || regForm.$submitted) && regForm.email.$error.required" class="help-block">
      This field is required
    </p>
    <ul ng-show="(regForm.email.$error.minLength || regForm.email.$error.maxLength || regForm.email.$error.pattern) && !regForm.email.$pristine" class="help-block">
      <li>Must have a valid email like "info@example.com"</li>
      <li>Must be at least 8 characters and no more than 25</li>
    </ul>
  </div>

  <br />

  <button class="btn btn-primary" type="submit">REGISTER</button>

</form>

<!-- <br />
<span><strong>Is this form pristine: </strong>{{ regForm.$pristine }}</span>
<span><strong>Does it have errors: </strong>{{ regForm.$error }}</span>
<span><strong>Was this form submitted: </strong>{{ regForm.$submitted }}</span>
<span><strong>Is this form valid: </strong>{{ regForm.$valid }}</span>
<br /> -->

<!-- This is the loading stuff that comes when we're waiting
     that the server answers -->
<div class="jumbotron text-center" ng-show="register.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>
    Loading ...
  </p>
</div>

<br />

<!-- We need to  -->

<div class="row row-show-hide-message" ng-show="register.successMessage">
  <div class="alert alert-success">
    <!-- Success Message -->
    {{ register.successMessage }}
  </div>
</div>

<div class="row row-show-hide-message" ng-show="register.errorMessage">
  <div class="alert alert-danger">
    <!-- Error message -->
    {{ register.errorMessage }}
  </div>
</div>
